{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags%}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}



<main class="page project-page">
  <section class="portfolio-block project">
    <div class="container">
      <div class="heading">
        <h2>{{ page.title }}</h2>
        <h3 class="text-muted">{{ page.intro }}</h3>
      </div>



      <div class="row" style="display:inline">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            {% for item in page.gallery_images.all %}

            {% image item.image original as galleryImg %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
              <img class="d-block w-100" src="{{ galleryImg.url }}" alt="Slide">
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
      <div class="row">
      <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
      <div>







      <div class="container">
        <div class="row">
          <p>{{ page.body|richtext }}</p>
        </div>
      </div>





      <div class="row">
        <div class="more-projects">
          <h3 class="text-center">Media</h3>
          <div class="row gallery">
            {% for item in page.gallery_images.all %}
            {% image item.image original as galleryImg %}

            <div class="col-md-4 col-lg-3">
              <div class="item">
                <img data-toggle="modal" data-target="#hi{{ forloop.counter }}" class="img-fluid scale-on-hover" src="{{ galleryImg.url }}">
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- good spot for modals -->
          {% for item in page.gallery_images.all %}
          {% image item.image original as galleryImg %}
          <div class="modal fade" id="hi{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">{{ galleryImg.caption }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img class="d-block w-100" src="{{ galleryImg.url }}">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
  </section>
</main>


{% endblock %}
